<!-- templates/index.html -->
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ethnos Web</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
  </head>
  <body>
    <h2> Ethnos </h2>
    <div id="login-screen">
      <input type="text" id="username" placeholder="Seu Nome" />
      <input type="text" id="room" placeholder="Nome da Sala" />
      <button onclick="createGame()">Criar sala</button>
      
      <div id="rooms-list-container" style="margin-top: 20px;">
        <h3>Salas Disponíveis</h3>
        <ul id="rooms-list" style="list-style: none; padding: 0;">
        </ul>
      </div>
    </div>

    <div id="game-screen" style="display: none">

      <div id="game-header">
        <h2 id="turn-indicator">Turno: Aguardando...</h2>
        <div class="status">
          <span id="era-indicator">Era: 1/3</span>
          <span id="dragon-indicator">Dragoes: 0/3</span>
        </div>
      </div>
      
      <div class="actions">
        <button onclick="drawCard()">Comprar Carta do Topo</button>
        <button onclick="playBand()">Jogar Bando</button>
      </div>

      <div class="market-area">
        <div class="market">
          <h3>Mercado (Cartas Abertas)</h3>
        </div>
        
        <ul id="market-list" class="card-list"></ul>
      </div>

      <div class="player-area">
        <h3>Sua Mão</h3>
        <ul id="my-hand" class="card-list"></ul>
      </div>

      <h3>Reinos</h3>
      <div class="board" id="realms-board"></div>

      <h3>Oponentes</h3>
      <ul id="players-list"></ul>
    </div>

    <!-- Carrega o script principal do jogo -->
    <script src="{{ url_for('static', filename='js/jogo.js') }}"></script>
  </body>
</html>